---

---

<div class="flex justify-between items-center px-12 py-1 bg-orange-600 h-[3vh]">
    <h1><span class="font-semibold">Llamanos ahora:</span> +57 311 7879948</h1>

    <h1><span class="font-semibold">Visitanos en:</span> La ciudadela de ibague</h1>

    <h1><span class="font-semibold">Horarios:</span> Lunes a Lunes (09:00 - 22:00)</h1>
</div>