---

---

<section class="px-12 mt-12 flex flex-col gap-12 items-center">
    <h1 class="text-center text-4xl font-bold uppercase">✨ ACERCA DE NOSOTROS ✨</h1>
    <p class="max-w-[25vw] text-center">Somos una empresa para limpiar el semen que dejas en tus sillones y ser los mayores papus del mundo</p>
    <p>¿Quieres saber mas de nosotros? Haz click <a href="/about-us" class="font-semibold text-blue-500">aquí</a>!</p>
</section>