---

---
<main>
    <section class='w-full h-[90vh]'>
        <button class="absolute bg-blue-600 w-8 h-8 rounded-full top-1/2 left-8 font-bold">
            &lt
        </button>
        <p class="absolute top-1/2 left-[10vw] max-w-[20vw] bg-blue-600 rounded px-6 py-4 bg-opacity-55 drop-shadow -translate-y-1/2">
            lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit ametlorem ipsum dolor sit amet vlorem ipsum dolor sit amet
        </p>
        <img class="w-full h-full object-cover" src="https://cdn.pixabay.com/photo/2022/12/01/04/40/backpacker-7628303_1280.jpg">
        <button class="absolute bg-blue-600 w-8 h-8 rounded-full top-1/2 right-8 font-bold">
            &gt
        </button>
    </section>
</main>