<section class="px-12 mt-12 flex flex-col gap-12 items-center">
    <h1 class="text-center text-4xl font-bold uppercase">
        ✨ Conoce Nuestros Servicios ✨
    </h1>
    <p class="max-w-[25vw] text-center font-bold uppercase">
        ¿Por qué elegir nuestros servicios?
    </p>
    <p class="max-w-[25vw] text-left">
        nuestro catalogo de servicios: Contamos con más de 10 años de
        experiencia en el lavado de muebles, colchones y alfombras, además
        servicios comerciales para hoteles, casinos y oficinas.
    </p>
</section>
<section class="px-12 mt-12 flex flex-col gap-12 items-center">
    <h1 class="text-center text-4xl font-bold uppercase">✨¿Qué hacemos? ✨</h1>

    <p class="max-w-[25vw] text-left font-semibold">
        ¡Mira cómo lo limpiamos! Nuestros servicios en semi-húmedo son
        garantizados
    </p>

    <div class="grid grid-cols-4 grid-rows-1 mt-12 gap-12">
        <div class="p-6 rounded bg-slate-500 ">
            <h2 class="text-center text-2xl font-semibold">
                Limpieza General ✨
            </h2>
            <p class="max-w-[25vw] text-left font-semibold">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                modi facilis reiciendis minima quis animi rem, maiores fugiat
                doloribus pariatur eius quisquam iure soluta magni culpa.
                Deserunt voluptatum inventore natus.
            </p>
        </div>
        <div class="p-6 rounded bg-slate-500 ">
            <h2 class="text-center text-2xl font-semibold">
                Lavado de ropa ✨
            </h2>
            <p class="max-w-[25vw] text-left font-semibold">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
                modi facilis reiciendis minima quis animi rem, maiores fugiat
                doloribus pariatur eius quisquam iure soluta magni culpa.
                Deserunt voluptatum inventore natus.
            </p>
        </div>

        <div class="p-6 rounded bg-slate-500 ">
            <h2 class="text-center text-2xl font-semibold">
                Lavado de muebles ✨
            </h2>
            <p class="max-w-[25vw] text-left font-semibold">
                Lorem ipsum dolorsit amet consectetur adipisicing elit. Rerum
                modi facilis reiciendis minima quis animi rem, maiores fugiat
                doloribus pariatur eius quisquam iure soluta magni culpa.
                Deserunt voluptatum inventore natus.
            </p>
        </div>
        <div class="p-6 rounded bg-slate-500 ">
            <h2 class="text-center text-2xl font-semibold">
                Lavado de pisos ✨
            </h2>
            <p class="max-w-[25vw] text-left font-semibold">
                Lorem ipsum dolorsit amet consectetur adipisicing elit. Rerum
                modi facilis reiciendis minima quis animi rem, maiores fugiat
                doloribus pariatur eius quisquam iure soluta magni culpa.
                Deserunt voluptatum inventore natus.
            </p>
        </div>
    </div>
</section>
